<footer>
  <div class="footer_container">
    <div class="footer_left">
      <h2 class="main_title_under"><%= link_to "BEST SNACKS LOG", root_path, class: "page_title" %></h2>
    </div>   
  </div>    
</footer>