<div class="top">
  <div class="top_content">
    <p class="top_title">BEST SNACKS LOG</p>
    <p class="sub_title"><strong>~お酒の相棒、きっと見つかる~</strong></p>
  </div>
</div>
<h2 class="search">お酒から探す</h2>
<div class="recommend_container">
  <div class="item item_title">ビールに合う</div>
  <div class="item item_title">サワーに合う</div>
  <div class="item item_title">ハイボールに合う</div>
  <div class="item item_title">日本酒・焼酎に合う</div>
</div>
<h2 class="search">料理から探す</h2>
<div class="recommend_container">
  <div class="item item_title">ガッツリ系</div>
  <div class="item item_title">さっぱり系</div>
  <div class="item item_title">魚介系</div>
  <div class="item item_title">小皿・スナック系</div>
</div>
