/* ヘッダー */

.header_title {
    color: #000;
    font-size: 2rem;
    font-weight: bold;
}
.header_container {
    background-color: #e9ecef;
    box-shadow: 1px 1px 1px 1px gray;
    text-align: center;
    padding: 1rem;
}

.header_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.account_button {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-right: 0.5rem;
}

.user_list {
    color: #000;
}

.drop_login {
    display: flex;
    justify-content: center;
    color: black;
}

.avatar_icon {
    height: 5rem;
    width: 5rem;
}

/* フッター */

.footer_title {
    color: #000;
    font-size: 2rem;
    font-weight: bold;
}

.footer_container {
    background-color: #e9ecef;
    display: flex;
    align-items: center;
    padding: 2rem;
}

/* メインコンテナ */

.container {
    flex: 1;
    padding: 1.5rem;
}

/* ヒーローコンテンツ */

.top_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111821;
    border-radius: 2rem;
}

.top_title {
    font-size: 4rem;
    font-weight: 700;
    color: #FFF;
}

.sub_title {
    font-size: 1.6rem;
    color: #FFF;
}

/* ホームおつまみコンテナ */

.latest_post_text {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    padding: 1rem 0;
}

.snack_container_top {
    box-shadow: 1px 1px 1px 1px gray;
}

/* 検索フォーム */

.index_search_form {
    height: 3rem;
    outline: none;
}

.home_search {
    margin: 20px auto;
}

.search_form {
    width: 25rem;
    border-radius: .5rem 0 0 .5rem;
    padding: 1rem;
    border: 1px solid #000;
}

.search_button {
    width: 5rem;
    background-color: rgb(44, 25, 212);
    font-weight: 500;
    border-radius: 0 .5rem .5rem 0;
    color: #FFF;
}

.search_button:hover {
    opacity: 0.8;
}

/* 検索フォーム(ホーム画面以外のページ) */

.index_search_form_show {
    height: 3rem;
    outline: none;
}

.search_form_show {
    border-radius: .5rem 0 0 .5rem;
    padding: 1rem;
    border: 1px solid #000;
}

.search_button_show {
    width: 5rem;
    background-color: rgb(44, 25, 212);
    font-weight: 500;
    border-radius: 0 .5rem .5rem 0;
    color: #FFF;
}

.search_button_show:hover {
    opacity: 0.8;
}

/* 入力フォーム */

.sign_container {
  background-color: rgb(255, 250, 243);
  box-shadow: 2px 2px 2px 2px gray;
  display: flex;
  padding: 60px;
  align-items: center;
  justify-content: center;
  margin: 100px;
  border-radius: 5rem;
}

.form_field {
  text-align: left;
  font-weight: 500;
}

.button{
  width: 50vh;
}

.actions {
  padding: 20px;
}

.required {
    color: red;
}
