.header_container {
    height: 100px;
    background-color: rgb(155, 122, 122);
    position: relative;
}

.header_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.main_title {
    margin-top: 0;
}

.page_title {
    color: #FFF;
}

.account_button {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 60px;
}

.user_list {
    color: #FFF;
}

.footer_container {
    height: 200px;
    background-color: rgb(155, 122, 122);
    display: flex;
    align-items: center;
    bottom: 0;
    width: 100%;
}

.footer_left {
    padding-left: 30px;
}

.main_title_under {
    margin-bottom: 0;
}

.main_content {
    flex: 1;
    margin-bottom: 50px;
}

.top {
    width: 100%;
}

.top_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(56, 54, 54);
    height: 40vh;
}

.top_title {
    margin-top: 40px;
    font-size: 50px;
    font-weight: 700;
    color: #FFF;
}

.sub_title {
    font-size: 20px;
    color: #FFF;
}

.search {
    font-size: 30px;
    margin: 20px;
}

.recommend_container {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.item {
    height: 20vh;
    border-radius: 25px;
    background-color: beige;
    width: calc((60% - 90px) / 4);
}

.item:hover {
    transform: scale(1.2, 1.2);
}

.item_title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: green;
  font-weight: 500;
  font-size: 30px;
}

.sign_container {
  background-color: rgb(255, 250, 243);
  box-shadow: 2px 2px 2px 2px gray;
  display: flex;
  padding: 60px;
  align-items: center;
  justify-content: center;
  margin: 100px;
  border-radius: 5rem;
}

.form_field {
  text-align: left;
  font-weight: 500;
}

.button{
  width: 50vh;
}

.actions {
  padding: 20px;
}

.required {
    color: red;
}

.index_search {
    margin-top: 100px;
}

.index_search_form {
    height: 50px;
    border-radius: 0.5rem;
}

.search_form {
    width: 400px;
}

.search_button {
    width: 100px;
    background-color: rgb(190, 54, 54);
    font-weight: 500;
    color: #FFF;
}

.search_button:hover {
    opacity: 0.5;
}
