/* ヘッダー */

.header_title {
    color: #000;
    font-size: 2rem;
    font-weight: bold;
    white-space: nowrap;
}
.header_container {
    background-color: #e9ecef;
    box-shadow: 1px 1px 1px 1px gray;
    text-align: center;
    padding: 1rem;
}

.header_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.account_button {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-right: 0.5rem;
}

.login_list {
    color: #000;
    white-space: nowrap;
}

.drop_login {
    display: flex;
    justify-content: center;
    color: black;
}

.new_post {
    padding: 0.5rem;
    margin: 1rem;
    background-color: #2fd366;
    border-radius: 0.5rem;
}
.avatar_icon {
    height: 2.5rem;
    width: 2.5rem;
}

/* フッター */

.footer_title {
    color: #000;
    font-size: 2rem;
    font-weight: bold;
}

.footer_container {
    background-color: #e9ecef;
    display: flex;
    align-items: center;
    padding: 2rem;
}

/* メインコンテナ（全ページ共通CSS） */

.container {
    flex: 1;
    padding: 1.5rem;
}

/* ヒーローコンテンツ */

.top_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111821;
    border-radius: 2rem;
}

.top_title {
    font-size: 4rem;
    font-weight: 700;
    color: #FFF;
}

.sub_title {
    font-size: 1.6rem;
    color: #FFF;
}

/* ホームおつまみコンテナ */

.latest_post_text {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    padding: 1rem 0;
}

.snack_container_top {
    box-shadow: 1px 1px 1px 1px gray;
}

/* 検索フォーム */

.index_search_form {
    height: 3rem;
    outline: none;
}

.home_search {
    margin: 20px auto;
}

.search_form {
    width: 25rem;
    border-radius: .5rem 0 0 .5rem;
    padding: 1rem;
    border: 1px solid #000;
}

.search_button {
    width: 5rem;
    background-color: rgb(44, 25, 212);
    font-weight: 500;
    border-radius: 0 .5rem .5rem 0;
    color: #FFF;
}

.search_button:hover {
    opacity: 0.8;
}

/* 検索フォーム(ホーム画面以外のページ) */

.index_search_form_show {
    height: 3rem;
    outline: none;
}

.search_form_show {
    width: 75%;
    border-radius: .5rem 0 0 .5rem;
    padding: 1rem;
    border: 1px solid #000;
}

.search_button_show {
    width: 25%;
    background-color: rgb(44, 25, 212);
    font-weight: 500;
    border-radius: 0 .5rem .5rem 0;
    color: #FFF;
}

.search_button_show:hover {
    opacity: 0.8;
}

/* 入力フォーム */

.sign_container {
  background-color: #FFF;
  box-shadow: 2px 2px 2px 2px gray;
  display: flex;
  padding: 60px;
  align-items: center;
  justify-content: center;
  margin: 100px;
  border-radius: 2rem;
}

.Login_container {
  background-color: #FFF;
  box-shadow: 2px 2px 2px 2px gray;
  display: flex;
  padding: 60px;
  align-items: center;
  justify-content: center;
  margin: 100px;
  border-radius: 2rem;
}

.form_field {
  text-align: left;
  font-weight: 500;
}

.button{
  width: 50vh;
  margin: 1rem 0;
  white-space: nowrap;
}

.required {
    color: red;
}

/* おつまみ一覧ページ */

.snack_container {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my_snack_container {
    padding: 2rem;
}

.snack_list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
}

.Snack {
  background-color: rgb(255, 212, 177);
  padding-left: 0;
  width: 260px;
}

.index_snacks {
    flex-grow: 1;
}

.snack_img {
    height: 200px;
    width: 260px;
}

.my_snack_title {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 30px;
    font-weight: 500;
}

.snack_title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.snack_alcohol {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.snack_types {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.snack_memo {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;    
}

.btn_position {
    display: flex;
    justify-content: center ;
}

/* おつまみ詳細ページ */

.return_page {
    font-size: 1rem;
    font-weight: 500;
}

.snacks_top {
    display: flex;
    justify-content: center;
    align-items: center;   
    margin: auto;
    padding: 1rem;
}

.snacks_item {
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px 2px gray;
    padding: 1rem;
}

.snack_memo_show {
  overflow-wrap: break-word;
  word-break: break-all;
}

.snack_img_show {
    width: 100%;
    padding: 2rem 2rem 0 2rem;
}

.snacks_name_show {
    padding: 0.5rem 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.snack_alcohol_show {
    margin-bottom: 0.5rem;
}

.snack_type_show {
    margin-bottom: 0.5rem;
}

/* 自分(current_user)の編集ボタン */

.edit_page {
    width: 100%;
}

@media (max-width: 992px) {
.container {
    padding: 1rem 1rem;
}

.top_title {
    font-size: 2rem;
}

.sub_title {
    font-size: 1rem;
    color: #FFF;
}

.search_form {
    width: 80%;
    border-radius: .5rem 0 0 .5rem;
    padding: 1rem;
    border: 1px solid #000;
}

.search_button {
    width: 20%;
    background-color: rgb(44, 25, 212);
    font-weight: 500;
    border-radius: 0 .5rem .5rem 0;
    color: #FFF;
}

.snack_list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
}

.Snack {
  background-color: rgb(255, 212, 177);
  padding-left: 0;
  width: 100% !important;
}

.footer_container {
    justify-content: center;
}

.header_title {
    font-size: 1rem;
}

.account_button {
    gap: 1rem;
    padding-right: 0.5rem;
}

.login_list {
    color: #000;
    white-space: nowrap;
    font-size: 0.8rem;
}

.sign_container {
    margin: 1rem 0;
}

.Login_container {
    margin: 3rem 0 0 0;
}

.Login_form {
    width: 20rem !important;
}

.button {
    width: 100%;
}

.total_snack {
    white-space: nowrap;
    font-size: 12px;
}

.snack_img {
    height: 100% !important;
    width: 100% !important;
}

.return_page {
    font-size: 0.8rem;
}

.snack_img_show {
    padding: 0
}

}
