.header_container {
    height: 100px;
    background-color: rgb(155, 122, 122);
    position: relative;
}

.header_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.main_title {
    margin-top: 0;
}

.page_title {
    color: #FFF;
}

.account_button {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 60px;
}

.user_list {
    color: #FFF;
}

.footer_container {
    height: 200px;
    background-color: rgb(155, 122, 122);
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer_left {
    padding-left: 30px;
}

.main_title_under {
    margin-bottom: 0;
}