.snack_container {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my_snack_container {
    padding: 2rem;
}

.snack_list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.Snack {
  background-color: rgb(255, 212, 177);
  padding-left: 0;
  width: 260px;
}

.snack_img {
    height: 200px;
    width: 260px;
}

.my_snack_title {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 30px;
    font-weight: 500;
}

.snack_title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.snack_alcohol {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.snack_types {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.snack_memo {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;    
}

.btn_position {
    display: flex;
    justify-content: center ;
}
