.return_edit {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.return_page {
    margin-left: 70px;
    font-size: 20px;
    font-weight: 600;
}

.snacks_top {
    background-color: rgb(252, 232, 53);
    display: flex;
    justify-content: center;
    align-items: center;   
    margin: auto;
    padding: 50px;
    width: 90vh;
    border-radius: 5rem;
}

.snacks_item {
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px 2px gray;
    height: 900px;
    padding: 80px;
}

.snacks_memo {
  overflow-wrap: break-word;
  word-break: break-all;
}

.snack_img_show {
    width: 650px;
    height: 500px;
}